.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    background-color: tomato;
}

.box1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; 
    background-color: chocolate;
}
.box2{
    grid-column-start: 1;
    grid-row-start: 3; 
    grid-row-end: 5; 
    background-color: chartreuse;
}
.corpo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    background-color: blueviolet;
}